/*
* WP-Stripe - Default Stylesheet
*/

h1.stripe-title {
    color:#ccc;
    text-shadow:0 1px 0 rgba(255,255,255,0.5);
    font-size:22px;
    margin:30px 0 30px;

}

#wp-stripe-tab-settings th {
    width:280px;
}

#wp-stripe-tab-settings ul {
    padding-left:20px;
}

#wp-stripe-tab-settings li {
    list-style: disc;
}

/* jQuery Tabs */

ul#wp-stripe-tabs-nav {
    position:relative;
    margin-bottom:30px;

    height:41px;
    overflow:visible;
    border-bottom:1px solid #ddd
}

ul#wp-stripe-tabs-nav li {
    text-align:center;
    position:relative;
    display:block;
    float:left;
    width:130px;
    height:40px;
    margin:0 10px 0 2px;
    border-top:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    background: #f2f2f2;
    overflow:visible;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    opacity:0.8;
    -webkit-box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,0.05);
    box-shadow:inset 0 -1px 10px 0 rgba(0,0,0,0.05);
}

ul#wp-stripe-tabs-nav li.ui-state-active,
ul#wp-stripe-tabs-nav li:hover {
    background: #f1f1f1;
    opacity:1;
}

ul#wp-stripe-tabs-nav li a:active,
ul#wp-stripe-tabs-nav li a:focus {
    outline:none;
}

ul#wp-stripe-tabs-nav li.ui-state-active a:before {
    position: absolute;
    content: " ";
    top:0;
    bottom:-1px;
    left:0;
    right:0;
    border-bottom:1px solid #f1f1f1;
    z-index:200;
}

ul#wp-stripe-tabs-nav li a {
    position:absolute;
    top:0;
    left:0;
    color:#777;
    display:block;
    padding:10px 15px;
    height:20px;
    line-height:20px;
    width:100px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    text-transform:uppercase;
    overflow:visible;
}

ul#wp-stripe-tabs-nav li.ui-state-active {
    background: #f1f1f1;
    -webkit-box-shadow:inset none;
    box-shadow: none;
}

ul#wp-stripe-tabs-nav li.ui-state-active a {
    color:#555;
}

/* Transactions Table */

table.wp-stripe-projects,
table.wp-stripe-transactions {
    margin-top:20px;
    border-spacing: 0px;
    width:95%;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

table.wp-stripe-projects thead,
table.wp-stripe-transactions thead {
    position:relative;
    background-color:#f2f2f2;
}

table.wp-stripe-projects th,
table.wp-stripe-transactions th {
    background:#fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

table.wp-stripe-projects th,
table.wp-stripe-transactions th {
    text-align:left;
    color:#777;
    text-shadow: 0 1px 0px #ffffff;
}

table.wp-stripe-transactions td img.avatar {
    float:left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

table.wp-stripe-transactions td span.stripe-name {
    line-height:30px;
    padding-left:15px;
}

table.wp-stripe-transactions td.stripe-comment {
    font-style:italic;
    font-family:serif;
    color:#777;
    font-size:14px;
    line-height:14px;
}

table.wp-stripe-transactions span.stripe-netamount {
    color:#07DE00;
    font-weight:bold;
    font-size:14px;
}

table.wp-stripe-transactions tr:nth-child(even) {
    background: #fff;   
}

table.wp-stripe-transactions tr:nth-child(odd) {
    background: #f9f9f9;   
}

table.wp-stripe-projects tr td,
table.wp-stripe-transactions tr td {
    border-bottom: 1px solid #ddd;
}

table.wp-stripe-projects tr th,
table.wp-stripe-projects tr td,
table.wp-stripe-transactions tr th,
table.wp-stripe-transactions tr td {
    padding: 10px 15px;
}

.dot-stripe-live {
    margin-right:10px;
    position:relative;
    top:2px;
    display:inline-block;
    background:#07DE00;
    width:12px;
    height:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 5px 3px 1px rgba(255, 255, 255, 0.2);
}

.dot-stripe-public {
    margin-right:10px;
    position:relative;
    top:2px;
    display:inline-block;
    background:#0068DE;
    width:12px;
    height:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 5px 3px 1px rgba(255, 255, 255, 0.2);
}

.dot-stripe-test {
    margin-right:10px;
    position:relative;
    top:2px;
    display:inline-block;
    background:#ddd;
    width:12px;
    height:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 2px 2px 1px rgba(0,0,0, 0.1);
    -moz-box-shadow: inset 0px 2px 2px 1px rgba(0,0,0, 0.1);
    box-shadow: inset 0px 2px 3px 1px rgba(0,0,0, 0.1);
}

.progress-stripe-wrap {
    position:relative;
    display:block;
    background:#ddd;
    width:100px;
    height:16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 2px 2px 1px rgba(0,0,0, 0.1);
    -moz-box-shadow: inset 0px 2px 2px 1px rgba(0,0,0, 0.1);
    box-shadow: inset 0px 2px 3px 1px rgba(0,0,0, 0.1);
}

.progress-stripe-value {
    margin-right:10px;
    position:absolute;
    z-index:50;
    top:2px;
    left:2px;
    display:block;
    background:#0068DE;
    height:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 3px 2px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 5px 3px 1px rgba(255, 255, 255, 0.2);
}

#wp-stripe-tab-transactions form.pagination {
    display:inline;
    float:left;
    margin:10px 10px 0 0;
}