[submodule "stripe-php"]
	path = stripe-php
	url = git://github.com/stripe/stripe-php.git
[submodule "wp-posts-to-posts-core"]
	path = wp-posts-to-posts-core
	url = git://github.com/AppThemes/wp-posts-to-posts-core
